body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
/* header code */
header {
  display: flex;
  height: 69px;
  padding-left: 10px;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  z-index: 1;
  width: 100%
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo img {
  display: flex;
  height: 50px;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  padding: 20px 10px;
  align-items: center;
}

a {
  color: seashell;
}
/* end header */
/* temp code */
div {
  border: 1px solid white;
}
/* mission section */
.mission {
  display: flex;
  position: relative;
  padding-top: 69px;
  height: 700px;
  width: 1200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  justify-content: center;
  align-items: center;
  margin: auto;
}

.runner {
  height: 130px;
  width: 100%;
  background-color: black;
}

/* end mission section*/
